{% extends 'layout.twig' %}

{% block content %}
<style>
    .contact {
        width: 600px;
        margin: 20px auto;
    }
</style>
<div class="contact">
    <p>Hi everyone, I'm <strong>Sang</strong>, I'm software engineer.</p>
    <p>I make this project to render Amazon feed result form XML content. I think it will be a helpful tool for check Amazon feed content.</p>
    <p>
        This is my contact: 
        <ul>
            <li><a target="_blank" href="https://twitter.com/tasyit">Twitter</a></li>
            <li><a target="_blank" href="https://github.com/tasynguyen3894">Github</a></li>
        </ul>
    </p>
</div>
{% endblock %}