{% extends 'layout.twig' %}

{% block content %}
<style>
    .feed-form {
        border: 1px solid #333;
        padding: 15px;
        width: 500px;
        margin: 20px auto;
    }

    .feed-form  div {
        text-align: left;
        margin-top: 10px;
    }

    .feed-form  div label {
        display: block;
    }

    .feed-form  div input {
       width: 100%;
    }
</style>
<div>
    <div class="feed-form">
        <form action="" method="post">
            <div>
                <label for="feed">Feed Rss URL</label>
                <div><textarea style="width: 100%" name="feed">{{feed}}</textarea></div>
            </div>
            <div>
                <button>Render</button>
            </div>
        </form>
        {% if error %}
            <div style="color: #FF0000">{{ error }}</div>
        {% endif %}
    </div>
    <div>
        {{ html }}
    </div>
</div>
{% endblock %}